@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html {
    scroll-behavior: smooth;
}

li {
    list-style-type: none;
}

p {
    line-height: 1.5;
    font-size: 16px;
}

a:hover {
    opacity: 0.7;
}

.link_hover-effect:after {
    content: "";
    position: absolute;
    height: 3px;
    background-color: black;
    width: 0;
    bottom: -3px;
    right: 0;
    transition: all 300ms ease;
}

.link_hover-effect:hover:after {
    width: 100%;
    left: 0;
}

.link_hover-effect--white:after {
    background-color: white;
}

.link_hover-effect--black:after {
    background-color: black;
}

a {
    text-decoration: none;
    position: relative;
    transition: opacity 300ms ease;
}

button {
    cursor: pointer;
}

section {
    background-color: rgb(245, 245, 245);
    transition: all 300ms ease;
}

input, textarea {
    width: 100%;
    background-color: #242424;
    color: white;
    outline: none;
    border: 3px solid rgb(195, 195, 195);
    border-top: none;
    border-left: none;
    border-right: none;
    height: 40px;

}

textarea {
    resize: vertical;
    height: 75px;
    margin-top: 6px;
}

label {
    font-size: 14px;
    font-weight: bold;
}

input:hover, textarea:hover {
    border-color: white;
}

input:focus, textarea:focus {
    border-color: #f06449;
}

.click {
    cursor: pointer;
    transition: all 300ms ease;
}

.click:hover {
    transform: scale(1.1);
}

.click:active {
    transform: scale(.8);
}

.title {
    font-size: 100px;
    margin-bottom: 12px;
    text-align: left;
    line-height: 1;
}

.green {
    color: rgb(1, 200, 1);
    
}

.container {
    padding: 50px 0;

}

.row {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 12px;
}

 nav,
.scroll,
header {
    opacity: 1;
    visibility: visible;
    transition: all 600ms 300ms;
}

.modal--open nav,
.modal--open .scroll,
.modal--open header {
    opacity: 0;
    visibility: hidden;
    transition: all 400ms;
}

.dark-theme .title,
.dark-theme .section_title,
.dark-theme .nav__link--anchor,
.dark-theme .fa-adjust,
.dark-theme .header__para {
    color: white;
}
.dark-theme section {
    background-color: #242424;
}
.dark-theme #personal-logo {
    filter: none;
}
.dark-theme .scroll__icon {
    border-color: white;
}
.dark-theme .scroll__icon:after,
.dark-theme .link_hover-effect--black:after {
    background-color: white;
}
.dark-theme .mail__btn {
    background-color: white;
    color: #242424;
}

/*

Landing Page

*/

#landing-page {
    min-height: 100vh;
}

header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1000px;
    padding: 0 30px;
}

.header__para {
    font-size: 24px;
    line-height: 2;
    max-width: 450px;
}

.social__list {
    margin-top: 16px;
    display: flex;
}

.social__link {
    background-color: rgb(1, 200, 1);
    color: white;
    padding: 6px;
    width: 32px;
    height: 32px;
    font-size: 14px;
    margin-right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.mail__btn {
    width: 70px;
    height: 70px;
    font-size: 32px;
    border-radius: 50%;
    border: none;
    background-color: #242424;
    color: white;
    position: fixed;
    bottom:  32px;
    right: 40px;
    z-index: 100;
    box-shadow: 0 12px 30px 0 rgba(0, 0, 0, 0.4);
}

.scroll {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.scroll__icon {
    width: 20px;
    height: 30px;
    border: 2px solid #242424;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll__icon:after {
    content: "";
    width: 4px;
    height: 6px;
    background-color: #242424;
    border-radius: 2px;
    animation: scroll 1000ms infinite alternate-reverse;
}

@keyframes scroll {
    0% {
        transform: translateY(3px);
    }
    100% {
        transform: translateY(-3px);
    }
}

/*

Navigation

*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    height: 100px;
}

.nav__link--list {
    display: flex;
}

#personal-logo {
    width: 70px;
    height: 45px;
    filter: invert(1);
}

.nav__link {
    margin: 0 12px;
}

.nav__link--anchor {
    font-size: 16px;
    color: #242424;
    font-weight: 700;
}

.fa-adjust {
    font-size: 20px;
}

/*

Modal

*/

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 800px;
    height: 550px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    visibility: hidden;
    z-index: -1;
    transition: visibility 1s, z-index 1s, box-shadow .5s ease;
}

.modal--open .modal {
    z-index: 60;
    box-shadow: 0 20px 80px 0 rgba(0, 0, 0, 0.55);
    visibility: visible;
}

.modal__half {
    width: 50%;
    padding: 40px 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    transition: all 300ms ease-in;
}

.modal--open .modal__about,
.modal--open .modal__contact {
    transform: translateX(0%);
}

.modal__about {
    background-color: rgb(245, 245, 245);
    transform: translateX(-110%);
}

.language_img {
    width: 100%;
    max-width: 100px;
    transition: all 300ms;
}

.language:hover .language_img {
    filter: brightness(80%);
    opacity: 0.86;
    transform: scale(0.9);
}

.language {
    width: 25%;
    padding: 16px;
    display: flex;
    justify-content: center;
    position: relative;
}

.language_img--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__languages {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.language_name {
    position: absolute;
    bottom: 0;
    transform: scale(0);
    transition: all 300ms;
    font-size: 16px;
    opacity: 0;
}

.language:hover .language_name {
    transform: scale(.7);
    opacity: 1;
}

.modal__contact {
    background-color: #242424;
    color: white;
    transform: translateX(110%);
}

.modal__title {
    font-size: 26px;
}

.modal__sub-title {
    margin: 12px 0 24px 0;
    font-size: 14px;
}

.modal__para {
    margin-bottom: 12px;
    line-height: 1.5;
}

.form__item {
    margin-bottom: 20px;
}

.form__submit {
    background-color: #f06449;
    border: 2px solid #f06449;
    color: white;
    font-weight: 700;
    width: 100%;
    max-width: 200px;
    padding: 12px 24px;
    font-size: 20px;
    transition: all 300ms ease;
}

.form__submit:hover {
    border-color: white;
    background-color: transparent;
}

.form__submit:active {
    border-color: #f06449;
    color: #f06449;
}

.modal__overlay {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

.modal__overlay--loading {
    background-color: #242424;
    font-size: 80px;
}

.modal__overlay--success {
    background-color: rgb(1, 200, 1);
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    padding: 24px;
}

.modal__overlay--visible {
    z-index: 1;
    display: flex;
}

.fa-spinner {
    animation: spinner 800ms infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.modal__exit {
    position: absolute;
    top: 30px;
    right: 40px;
    color: white;
    font-size: 30px;
    z-index: 100;
}

/*

Projects

*/

.section_title {
    text-align: center;
    font-size: 48px;
    margin-bottom: 60px;
}

.project {
    margin-bottom: 135px;
}

.project:last-child {
    margin-bottom: 40px;
}

.project_img {
    width: 100%;
    transition: all 500ms ease;
}

.project--wrapper {
    display: flex;
    box-shadow: 0 20px 80px rgba(0, 0, 0, 0.45);
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}
.project--wrapper:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #1c1d25;
    opacity: 0;
    transition: opacity 450ms ease;
    z-index: 2;
}
.project:hover .project--wrapper:before {
    opacity: 0.7;
}
.project:hover .project_img {
    transform: scale(1.07);
    filter: blur(5px);
}

.project:hover .project_description {
    opacity: 1;
    transform: translateY(-50%);
}

.project_list {
    padding-top: 40px;
}

.project_description {
    position: absolute;
    top: 50%;
    left: 90px;
    transform: translateY(100%);
    max-width: 500px;
    z-index: 3;
    opacity: 0;
    transition: transform 450ms, opacity 300ms;
}

.project_description--title {
    font-size: 40px;
}

.project_description--para {
    margin: 16px 0;

}

.project_description--link {
    font-size: 20px;
    margin-right: 16px;
}

.project_description--title, 
.project_description--sub-title,
.project_description--para,
.project_description--link {
    text-align: left;
    color: white;
}

/*

Footer

*/

footer {
    position: relative;
    background-color: #242424;
}

.footer_social--list {
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 28px;
}

.footer_row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8% 0;
}

.footer_logo-img {
    width: 80px;
    height: 50px;
}

.footer_social--link,
.footer_copyright,
.footer_logo--popper {
    color: white;
    font-size: 14px;
}

.footer_logo--popper {
    position: absolute;
    right: 0;
    top: 18px;
    font-weight: 700;
    opacity: 0;
    transition: all 300ms ease;
}

.footer_anchor {
    margin-bottom: 20px;
    position: relative;
}

.footer_anchor:hover .footer_logo--popper {
    transform: translateX(60px);
    opacity: 1;

}

/*

Shapes

shapes on the first  row
height = 15 vh

shapes on the second  row
height = 50 vh

shapes on the third row
height = 80 vh

shapes on the first column
width = 5vw

shapes on the second column
width = 50vw

shapes on the third column
width = 80vw

*/

.shape {
    position: fixed;
}

.shape--0 {
    top: 15vh;
    left: 5vw;
}
.shape--1 {
    top: 15vh;
    left: 50vw;
}
.shape--2 {
    top: 15vh;
    left: 80vw;
}
.shape--3 {
    top: 50vh;
    left: 5vw;
}
.shape--4 {
    top: 50vh;
    left: 50vw;
}
.shape--5 {
    top: 50vh;
    left: 80vw;
}
.shape--6 {
    top: 80vh;
    left: 5vw;
}
.shape--7 {
    top: 80vh;
    left: 50vw;
}
.shape--8 {
    top: 80vh;
    left: 80vw;
}

/*Small phones, tablets, large smartphones*/

@media (max-width: 768px) {
    nav {
        height: 68px;
    }

    h1 {
        font-size: 26px;
    }

    .title {
        font-size: 76px;
    }
    .header__para {
        font-size: 18px;
    }

    .about-me_info--para {
        font-size: 16px;
    }

    .language {
        width: calc(100% / 2);
    }

    .project_description--para {
        font-size: 14px;
    }

    .project_description {
        left: 30px;
        padding-right: 30px;
    }

    .modal {
        top: 0;
        left: 0;
        transform: none;
        height: auto;
        width: 100%;
        flex-direction: column-reverse;
        border-radius: 0;
    }

    .modal__half {
        width: 100%;
    }
}

/*Small phones*/

@media (max-width: 480px) {
    .title {
        font-size: 50px;
    }
    .header__para {
        font-size: 16px;
    }
    .nav__link:first-child {
        display: none;
    }

    .project_description {
        padding: 0;
        left: 0;
        width: 100%;
    }

    .project_description--para {
        display: none;
    }

    .project_description--links {
        display: flex;
        justify-content: center;
    }

    .project_description--title {
        font-size: 32px;
        line-height: 1;
        text-align: center;
    }

    .project_description--sub-title {
        text-align: center;
        margin: 12px 0;
    }

    .modal__half {
        padding: 40px;
    }
}